<div class="container" style="border: 1px solid red; display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <h2>Author Card</h2>
  <div class="card" style="width:200px">
    <img class="card-img-top" src="https://picsum.photos/200" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{currentAuthor ? currentAuthor.firstName : ''}} {{currentAuthor ? currentAuthor.lastName : ''}}</h4>
      <p class="card-text">Some description to add (backend)</p>
    </div>
  </div>
  <br>
</div>
